[2017-01-31 22:25] williln opened #1 "Add Code of Conduct to the landing page"
Preferably as a separate page that is linked to from the landing page. The text you need is here: https://2016.djangocon.us/coc/ (DjangoCon's Code of Conduct, The Short Version, and the Long Version).

Thank you!

[2017-01-31 22:42] KatherineMichel commented on #1
I would take care of it, but not quite sure yet how it's being served. Will play around with it.

[2017-01-31 22:55] jefftriplett commented on #1
Everything is Jekyll based so you'll want to create a `coc.md` file with our COC (please remove the names and contact phone numbers) but https://2016.djangocon.us/coc/ should be a good starting point.

Then link to it at the bottom of the README.md and that should be a good start :)

[2017-01-31 23:16] KatherineMichel commented on #1
Ok, it can be assigned to me then. I didn't know it could be served without an index.html.

[2017-02-01 04:40] jefftriplett commented on #1
@KatherineMichel here was the fix on getting /coc/ to work.

We won't use the default README.md as an index.html once the actual website is done. It made more sense when we just had one file.

[2017-02-01 04:40] #1 closed

[2017-02-22 16:22] jessiofhall opened #4 "Homepage HTML"
Front-end home page structure
to be delivered by @mtrythall and @kkellydesign

[2017-02-22 16:23] jessiofhall opened #5 "About HTML"
Front-end patterns for the About Page. to be delivered by @mtrythall and @kkellydesign

[2017-02-22 16:24] jessiofhall opened #6 "Venue HTML"
to be delivered by @mtrythall and @kkellydesign

[2017-02-22 16:25] jessiofhall opened #7 "Schedule HTML"
to be delivered by @mtrythall and @kkellydesign

[2017-02-22 16:25] jessiofhall opened #8 "Organizers HTML"
to be delivered by @mtrythall and @kkellydesign

[2017-02-22 21:23] jefftriplett commented on #7
Please steal / stage the talk and tutorial info from last year so you have something real world to play with. Also, please ask me questions if something is weird. I have played with

[2017-02-22 21:38] jessiofhall opened #9 "Launch Checklist"
- [x] Don't forget a favicon
- [ ] Jekyll integration complete
- [ ] Content Populated (DEFNA Team)
- [ ] QA Complete
- [ ] Bugs Resolved
- [ ] DNS Switched

[2017-02-22 21:56] mtrythall opened #10 "Talk/Tutorial HTML"
We'll need to provide a basic format for Talk and Tutorial details.

[2017-02-22 22:06] mtrythall commented on #8
@kkellydesign can run with this one. Via Lacey:

- [ ] Organizer photo
- [ ] Organizer name
- [ ] Organizer description (will be optional)
- [ ] Links (perhaps via icons)

[2017-02-23 05:22] jefftriplett commented on #10
Please see #7 and let's confirm that we are on the same page about expectations. We provided real-work data upfront to ease any problems which could come from not having it.

[2017-02-23 20:35] jessiofhall commented on #10
@jefftriplett no worries. This is a known requirement-- the front-end will play nicely with the data. Same goes for #7.

[2017-02-24 16:47] mtrythall opened #11 "Blog List HTML"

[2017-02-24 16:48] mtrythall opened #12 "Blog Detail HTML"

[2017-02-27 14:46] mtrythall commented on #5
Notes here:

https://trello.com/c/4Fw8050Z/7-about-djangocon

Shortcut to content:

https://docs.google.com/document/d/1MDf-F9G2PsgjKrRDtowo-eYAq_UlnPTZj0E9bTmaKBE/edit

[2017-02-28 17:26] jessiofhall opened #13 "Launch Home Page V1"
@jefftriplett are we blocking you guys from moving forward with the Home Page? cc: @mtrythall

[2017-03-01 23:49] jefftriplett commented on #8
I added some organizer yml info: https://github.com/djangocon/2017.djangocon.us/blob/design/_data/organizers.yml to help fill in the gaps.

[2017-03-02 17:16] mtrythall opened #14 "Rework Sponsors to be Grid-based"
The team likes the treatment at the bottom of http://emberconf.com/

This should or could be at the bottom of every page.

[2017-03-02 17:18] mtrythall commented on #8
HTML/Design-wise this is done. It just needs:

- [ ] Copy for the intro
- [ ] All organizer info filled out
- [ ] A proper meta description

[2017-03-02 17:21] jessiofhall commented on #8
@mtrythall want me to create a Trello assignment for Lacey?

[2017-03-02 18:18] mtrythall opened #15 "Refactor static build process"
Right now we're relying on Bower and NPM. We should drop Bower, in favor of NPM only.

We should also compress and concat Sass and JS files.

* [x] Ditch Bower
* [x] Move all Sass dependencies into NPM
* [x] Uglify CSS
* [ ] Move all JS dependencies into NPM
* [ ] Concat JS files
* [ ] Uglify JS

[2017-03-02 18:18] mtrythall opened #16 "Add "How to Edit" Notes to README"

[2017-03-02 20:10] KatherineMichel commented on #16
I'm going to work on this.

[2017-03-02 20:21] jefftriplett opened #17 "Import talks from PaperCall.io"
See this Issue for more info: https://github.com/djangocon/papercall-api-to-xls/issues/1

[2017-03-02 20:35] jefftriplett opened #18 "Add Contributors"
Since we have guidelines: https://github.com/djangocon/2017.djangocon.us/blob/design/CONTRIBUTING.md

- [ ] Update any leftover 2016 references to 2017 references
- [ ] Add some type of simplified / semi-automated way to generate these: https://github.com/djangocon/2016.djangocon.us-archived/blob/development/README.md#contributors -- I'd skip the contribution types and group everyone together. All

[2017-03-02 20:46] jefftriplett commented on #17
@FlipperPA is this one you have time to work on or mentor someone through?

[2017-03-02 23:12] mtrythall opened #19 "Sponsors Page HTML"

[2017-03-02 23:13] mtrythall opened #20 "Become a Sponsor HTML"

[2017-03-02 23:13] mtrythall opened #21 "Accessibility Page HTML"

[2017-03-03 17:01] williln opened #24 "Add links to CFP and financial aid app to About"
Page: `about/`
Make these buttons link to our CFP and Financial Aid apps:
<img width="595" alt="screen shot 2017-03-03 at 9 00 36 am" src="https://cloud.githubusercontent.com/assets/2286304/23560599/e3fd8304-ffef-11e6-8e63-4cc04a9c147b.png">

[2017-03-03 17:02] williln opened #25 "Hide "See full schedule" button on About"
Page: `about/`

Comment out the "See full schedule" button, as we do not yet have a schedule.

<img width="531" alt="screen shot 2017-03-03 at 9 01 45 am" src="https://cloud.githubusercontent.com/assets/2286304/23560688/2ca82ef6-fff0-11e6-842c-9fa4771d077f.png">

[2017-03-03 18:53] jefftriplett commented on #8
Can we add a website url to the profiles? https://github.com/djangocon/2017.djangocon.us/blob/design/_data/organizers.yml#L9

I'll queue people to start updating their info if that doesn't add too much overhead.

[2017-03-03 19:10] jefftriplett opened #26 "Organizers Yaml"
I pulled enough information out of Trello to get our organizers yaml started. Please update or add your information to the following: https://github.com/djangocon/2017.djangocon.us/blob/design/_data/organizers.yml

Here's an example of mine:

[code]

**Please note** that the `hidden: false` was removed above.

We also need a photo (**600x600**) from everyone which should be the `photo_url`.

These

[2017-03-04 03:16] mtrythall opened #27 "Progressive Fonts"
This is likely caused to Typekit fonts. We should find a good fallback system font and massage it into place. It seems that `wf-active` is applied to the HTML tag when Typekit has loaded, so don't apply the Program font until that class is active.

Note that Foundation's typography tools aren't setup for this, relying on a mixin that specifically applies the font, so we'll need to override that or

[2017-03-04 21:10] #24 closed

[2017-03-04 22:31] mtrythall commented on #13
We were just waiting on blog, which is now in place. The team is preparing blog posts for launch on 3/6

[2017-03-04 22:31] mtrythall opened #33 "Financial Aid Page HTML"

[2017-03-04 22:32] mtrythall opened #34 "Contact Page HTML"

[2017-03-04 22:33] mtrythall commented on #34
@jefftriplett @williln Do we still want a contact page?

We have it in the sitemap. The footer features an email address. Maybe that's good enough?

[2017-03-04 22:33] mtrythall opened #35 "FAQs HTML Page"

[2017-03-04 22:34] mtrythall commented on #35
@williln We'll need content for the FAQs page. I can put together a quick format for you.

[2017-03-04 22:35] mtrythall commented on #7
Our design features a present avatar. I highly encourage you to have these.

[2017-03-04 23:05] mtrythall commented on #10
Only thing missing here is video and slide URL treatment.

[2017-03-05 01:27] craigbruce commented on #34
I'm -1 having a form that can send us email (read 99% spam)

[2017-03-05 22:06] KatherineMichel commented on #18
I could add this using the all-contributors-cli, similarly to last year but without the emoji keys and emojis- just 100px photo and name. I tried it locally and seemed to work, though had to add people individually via command line. List did not auto-generate. There are a few other similar node.js tools but presentation is not as nice imo.

[2017-03-06 16:38] mtrythall opened #36 "Speaker Resources Page HTML"

[2017-03-06 16:38] mtrythall opened #37 "Speaking Page HTML"

[2017-03-06 16:44] mtrythall commented on #37
LL might take this one if time permits, but it's an easy page to throw together.

[2017-03-06 18:34] williln commented on #34
I think the email address in the footer is sufficient.

[2017-03-08 10:38] Nandutu commented on #25
@williln i can't find the about page or related information . Any references

[2017-03-08 17:08] KatherineMichel commented on #25
Hi @Nandutu, Thank you for your question. It is in the design branch, _layouts folder, about.html file, line #123. I have put a direct link below. We also have contribution guidance in the design branch README. Link also below. The guidance is new (I wrote most of it). Please let us know if you have questions or feedback.
https://github.com/djangocon/2017.djangocon.us/blob/design/_layouts/about.ht

[2017-03-08 19:03] Nandutu commented on #25
@KatherineMichel just commented out the button, though i should be having issues with pull requests, seem to have done it wrong. kindly look at my reference above.

Thanks

[2017-03-08 19:13] KatherineMichel commented on #25
@Nandutu I tested your update locally and it looked great. I've also had a problem similar to yours with submitting a pull request. I've been told it happens if the pull request is submitted via the main repo instead of the forked repo. Maybe I should add some guidance to the README.

[2017-03-08 19:37] KatherineMichel commented on #25
@Nandutu I closed the open pull request.

[2017-03-08 19:40] Nandutu commented on #25
@KatherineMichel thanks, good to know it worked locally.

[2017-03-08 19:46] #25 closed

[2017-03-09 03:52] mtrythall commented on #21
My vote is *not* to do this page in favor of high level treatment and links to blog posts (since the info is venue/year dependent).

Thoughts on this @williln or @jefftriplett ?

You can see the treatment I'm using for accessibility info here:

http://djangocon.surge.sh/venue/

[2017-03-09 14:29] jefftriplett opened #45 "Add a 404 page"

[2017-03-09 17:37] williln commented on #35
@mtrythall Thanks! I think Brent Schneider is working on that copy.

[2017-03-09 17:41] williln commented on #21
I think this treatment looks fine, and the bullet points are able to call good attention to the accessibility information we have. Thoughts @ossanna16 @FlipperPA @rebkin05?

[2017-03-09 17:42] williln commented on #34
@mtrythall I think this is okay to close then?

[2017-03-09 17:49] williln commented on #26
Hey everyone! I'm tagging you if your info isn't in the organizers yaml file. Let me know if you want me to update your info for you, and if so, send me a 600 x 600 photo, your Twitter and GitHub usernames (if you want them connected), and a website you want me to link to (if you want that).

- [ ] Alexis
- [ ] @ossanna16
- [ ] Brent
- [ ] Daniel
- [ ] Elliott
- [ ] @daheats
- [ ] @craigbruce
- [

[2017-03-09 17:53] #13 closed

[2017-03-09 17:55] williln commented on #12
Ready to close, right?

[2017-03-09 17:55] williln commented on #11
Ready to close?

[2017-03-09 18:02] jefftriplett commented on #12
LGTM.

[2017-03-09 18:03] jefftriplett commented on #11
LGTM

[2017-03-09 18:04] mtrythall commented on #21
We could try an alternative treatment if there isn't much more information, as well.

[2017-03-09 18:10] jefftriplett commented on #5
@rebkin05 / @williln are we good with the content here?

@craigbruce see anything else we need?

[2017-03-09 18:10] jefftriplett commented on #6
@rebkin05 / @williln / @craigbruce are we good?

[2017-03-09 18:11] rebkin05 commented on #21
The only other thing on our accessibility list is a lactation room, so I think this works! @mtrythall the venue team is meeting this weekend and will have real info for us soon.

[2017-03-09 18:12] jefftriplett commented on #8
@rebkin05 / @williln it looks like we need content for this too: https://2017.djangocon.us/about/organizers/

[2017-03-09 18:14] jefftriplett commented on #14
I'll work on some yaml data bits today and run them by you like we did with organizers.

[2017-03-09 18:15] rebkin05 commented on #5
@jefftriplett ...there are a few small content changes I'd like to make--sorry! (Adding US to all references to DjangoCon, mostly). Doing those now in suggest mode so they stand out.

[2017-03-09 18:15] williln commented on #5
@jefftriplett This page links to /about/accessibility, which will probably become just about/venue, but either way isn't baked yet; and to about/financial, which doesn't exist yet. So it seems like those three pages should go live together.

[2017-03-09 18:16] williln commented on #5
@rebkin05 You can make those changes directly to the repo and just submit a PR if you want?

[2017-03-09 18:16] jefftriplett commented on #27
I think this is fixed?

[2017-03-09 18:18] jefftriplett commented on #5
If we need to build tickets off of this so that there's a clear line between LL and what our content is doing then I'm not against that. Whatever is the cleanest / easiest to communicate.

[2017-03-09 18:18] rebkin05 commented on #5
@williln ...I probably can do that

[2017-03-09 19:16] williln commented on #6
LGTM, but we need rec's from Brent and the Spokane team on places to highlight. We also probably want to hold off on confirming that we'll have childcare, since we haven't lined up a provider yet.

[2017-03-09 19:16] #11 closed

[2017-03-09 19:16] #12 closed

[2017-03-09 20:23] ossanna16 commented on #21
This looks great! I like that it's short but contains everything we need (lactation room to be added I assume?) and the box and bullet points make it very visible. Good job @mtrythall!

[2017-03-09 21:57] KatherineMichel commented on #36
Cool, I will work on this.

[2017-03-09 22:24] mtrythall commented on #19
@jefftriplett The design is in place here, but you'll need to rework the structure a bit to get it to work. I'm using dummy info currently.

The sponsorship levels should alternate between dark-beige, beige, and light-beige themes. If you can't do this with Liquid LMK and I'll do it via CSS.

[2017-03-09 22:34] #34 closed

[2017-03-10 09:03] Nandutu commented on #25
@KatherineMichel each time am trying to fork this repo, i cant get a copy and this applies to only repos in djangocon org where i am a member.  Is there a way i can be helped
Thanks

[2017-03-10 15:07] KatherineMichel commented on #25
Hi @Nandutu, sorry that a problem is happening. Apparently this is a new problem since you were able to submit a PR the other day? I tried to fork a couple of the DjangoCon repos and was able to, but it did tell me that I already had a copy but I didn't, which doesn't seem normal. I asked around among the developer and we're not sure what is causing this. We recommend that you make sure that you a

[2017-03-10 16:58] #4 closed

[2017-03-13 03:21] craigbruce commented on #5
Content LGTM

[2017-03-13 03:27] craigbruce commented on #6
Looks good, but various placeholders need completing first.

[2017-03-13 20:51] mtrythall opened #53 "Improve Map on Venue"
Currently the map on /venue/ is a static image. This might be better served as a Google Map with an InfoWindow, showing a picture of the venue, address, phone, etc, similar to what's here:

http://emberconf.com/location-and-hotels.html

This presents some problems that need to be addressed:

1. Styling the InfoWindow (if needed)
2. Ensuring the map has the right amount of details
3. Disabling scro

[2017-03-16 15:11] KatherineMichel opened #58 "Card Sections"
When the homepage is fullscreen on my laptop, the card-sections are sliding off the page
![card-sections](https://cloud.githubusercontent.com/assets/4193054/24003058/6377109c-0a30-11e7-8d19-d886b8cb97e6.png)

[2017-03-17 14:57] mtrythall commented on #10
I added slide and video buttons to the page and did some other clean up. This is good for review.

[2017-03-17 14:59] mtrythall commented on #58
@KatherineMichel This is weird!

I'm on a 5k screen and don't see this issue.

<img width="2484" alt="screenshot 2017-03-17 10 58 26" src="https://cloud.githubusercontent.com/assets/84750/24048907/b576934c-0b00-11e7-900f-f7461efbfba7.png">

Got any hints with regard to the CSS upon inspection?

[2017-03-17 18:07] mtrythall commented on #35
Dummy FAQs here: http://djangocon.surge.sh/faqs/

[2017-03-18 01:53] KatherineMichel commented on #58
It turns out I was looking at it on Canary Chrome. Not sure why it did that. It looks fine on regular Chrome. I will close this.

[2017-03-18 01:53] #58 closed

[2017-03-18 17:12] Nandutu commented on #33
i will work on this

[2017-03-19 08:37] Nandutu commented on #33
hello some help here,
each time i create financialaid.html in _site am not successful in pushing it because it is added to .gitignore file. Question: what is the best location for me to include this file?

[2017-03-19 08:46] Nandutu opened #60 "sponsorship prospectus"
in financial aid, sponsorship prospectus is required to link individuals to that page

[2017-03-19 13:54] KatherineMichel commented on #33
I don't think you need to change anything in _site. It's the compiled code. If you are creating a new HTML template or partial HTML template, it can go in _layouts.  If you are inserting markdown only into a pre-existing template, you can put the markdown file in _pages. You can look through the existing pages locally and look at the files in _layouts and _pages to see how they were generated. _po

[2017-03-20 09:22] Nandutu commented on #33
ok thanks

[2017-03-20 18:49] mtrythall commented on #27
This is fixed. We're basically just hiding fonts until they load. No flicker, slightly better. This is likely something that needs to be solved *per year*, dependent upon fonts used.

[2017-03-20 18:49] #27 closed

[2017-03-21 16:47] rlconley commented on #53
I'll take a stab at this.

[2017-03-21 19:23] jefftriplett commented on #19
👍  I think we are good here.

[2017-03-21 19:23] jefftriplett commented on #14
👍

[2017-03-21 22:45] williln commented on #36
Addressed in #59

[2017-03-21 22:45] #36 closed

[2017-03-21 22:54] williln commented on #37
I'll take this.

[2017-03-21 23:11] williln opened #64 "Add "Why DjangoCon US?" page"

[2017-03-22 01:34] jefftriplett commented on #5
The "Pre-Conference" and "Conference Schedule" h2's don't appear to be styled. Please verify.

[2017-03-22 03:29] jefftriplett opened #67 "About page > Fix Accessibility link"
We reference the `/about/accessibility` page which does not exist. We should create it or reference the right page.

[code]

[2017-03-22 03:35] jefftriplett opened #68 "Resolve home vs. home-full"
These two are similar enough yet I can't tell what is meant to be there  vs. what has changed over a few versions. Please take a merge them and comment out sections examples if they aren't current / fleshed out.

- [ ] Resolve the layouts differences
- [ ] Resolve the pages differences
- [ ] Delete the deprecated versions.

[2017-03-22 04:16] jefftriplett opened #69 "Configurize email links"
To help future proof the website, we should pull all email links into `_config.yml` and replace html references.

Examples of `_config.yml` vars:

- [x] contact_us_email: "hello@djangocon.us"
- [x] sponsors_email: "sponsors@djangocon.us"
- [x] visa_email: "visas@djangocon.us"

Then update all references in the templates to use:

- [x] {{ site.contact_us_email }}
- [x] {{ site.sponsors_email }}
- [

[2017-03-22 04:24] #45 closed

[2017-03-22 15:21] Nandutu commented on #33
Thanks

[2017-03-22 15:28] KatherineMichel commented on #33
No problem. Jeff did some refactoring last night. He went ahead and moved the Financial Aid page code to markdown, but the questions/answers could still use some differentiation in markdown.

[2017-03-22 15:36] jefftriplett commented on #33
Hi @Nandutu, I did some restructuring last night to try and make the layouts vs. pages less confusing. The page to look at is located here now: https://github.com/djangocon/2017.djangocon.us/blob/develop/_pages/financial-aid.md

There is plenty to do on the markdown file like converting some of the html to pure markdown and working with our [styleguide](https://2017.djangocon.us/styleguide/) to ma

[2017-03-22 15:59] KatherineMichel commented on #33
@Nandutu Here is a [GitHub Flavored Markdown explainer](https://guides.github.com/features/mastering-markdown/) and [cheat sheet](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf/). The hyperlinks can be changed to markdown and the questions could be changed from an ordered list to H3 headings (### Heading) perhaps. There is probably more than one way to do this though and maybe you h

[2017-03-22 16:23] williln commented on #5
@jefftriplett They were styled, but I think the classes were cancelling each other out or something because they looked weird. I edited the class to make those H2's match another one on the page and I think it looks better now.

[2017-03-22 16:25] williln commented on #5
@rebkin05 Did you get the changes in that you wanted for this page?

[2017-03-22 16:26] #64 closed

[2017-03-22 16:27] #37 closed

[2017-03-22 16:41] williln commented on #67
Should be addressed in #72.

[2017-03-22 17:03] rebkin05 commented on #5
@williln Yep, looks good!

[2017-03-22 20:46] jefftriplett commented on #20
We need a call to action here to make it obvious who to contact and a link to our prospectus. https://github.com/djangocon/2017.djangocon.us/blob/develop/_pages/sponsors-information.md

[2017-03-23 16:25] williln opened #75 "CoC: Styling and phrasing"
- [ ] Remove TL;DR header
- [ ] Style opening paragraph the way the About opener is styled (a little larger)
- [ ] Review CoC to make sure everything is covered.
- [ ] Move "if you are being harassed" higher. That should be easier to find.

[2017-03-23 16:27] williln opened #76 "Financial Aid To-Do's"
- [x] Add "Apply" button close to top
- [x] Style FAQs so they are easier to read.

[2017-03-23 16:34] williln opened #77 "Organizers: Link to their websites isn't showing up"

[2017-03-23 16:38] williln opened #78 "Venue: Add "Attractions""
4 of them.

[2017-03-23 16:43] williln opened #79 "Become a Sponsor: Add button to contact us."

[2017-03-23 16:48] williln opened #80 "Update the style guide"
Like... how a button is styled, for example.

[2017-03-23 17:54] KatherineMichel commented on #76
This falls along the lines of what @Nandutu has been doing in issue #33 if she is interested. There is an example button added to markdown on line 23 of https://github.com/djangocon/2017.djangocon.us/blob/develop/_pages/speaking.md ... click "Blame" to see the code.

[2017-03-23 21:46] KatherineMichel opened #83 "Button HTML for markdown"
I think it would be useful to agree some simple HTML convention for buttons in markdown so the markdown button code is as uniform as possible from page to page.

[2017-03-23 23:08] KatherineMichel commented on #69
I will work on this one.

[2017-03-23 23:24] jefftriplett commented on #83
Related to #80

[2017-03-23 23:26] jefftriplett commented on #67
Fixed!

[2017-03-23 23:26] #67 closed

[2017-03-24 04:20] KatherineMichel commented on #77
This could be added as an additional icon perhaps, maybe a little globe. I'm not sure where LL has obtained their svg icons though. Not sure about copyright issues. Or could be a hyperlink from name/photo?

`                {% if organizer.website != blank %}
                <li>
                  <a class="website" href="{{ organizer.website }}" target="_blank">
                    <svg class="we

[2017-03-24 16:16] #20 closed

[2017-03-24 16:24] KatherineMichel commented on #60
This has been added to Financial Aid and Become a Sponsor pages, so am closing issue.

[2017-03-24 16:24] #60 closed

[2017-03-24 16:29] KatherineMichel commented on #79
This has been added through PR #85

[2017-03-24 16:29] #79 closed

[2017-03-24 19:51] Nandutu commented on #33
@KatherineMichel @jefftriplett Thanks,
i have updated the html to purely markdown, please check it out https://github.com/djangocon/2017.djangocon.us/blob/develop/_pages/financial-aid.md

[2017-03-24 20:21] Nandutu commented on #76
FAQs @williln check out  https://github.com/djangocon/2017.djangocon.us/blob/develop/_pages/financial-aid.md still figuring out the button, @KatherineMichel can not seem to find "Blame"

[2017-03-24 20:39] KatherineMichel commented on #33
Looks good to me! I fixed a few typos. There were a couple of places where there was not a space in between the variable bracket and the next word, which made the words run together on the website page when rendering. Imo the Questions and Answers section looks really nice with the headings.

[2017-03-24 20:46] KatherineMichel commented on #76
Raw and Blame are buttons in the upper right hand corner of a file that you can click to see the different versions of the code @Nandutu.
![raw-and-blame](https://cloud.githubusercontent.com/assets/4193054/24312940/dcc7d91c-10a8-11e7-94a5-e36d77bcf1ca.png)
.

[2017-03-24 20:57] williln commented on #77
Or maybe just hyperlink the name? Not sure. @mtrythall are you using an icon sent like fontawesome for the icons? I glanced through the code and didn't see anything obvious...

[2017-03-25 18:32] Nandutu commented on #33
Okay....thanks

[2017-03-27 20:32] KatherineMichel opened #93 "Making the site data-driven"
A few more possible ways to make the site data-driven. Perhaps not all are applicable. Please add if think of something.
- navigation
- talks (regular/lightning)
- tutorials
- sprints
- attractions

[2017-03-27 23:35] craigbruce opened #95 "Remove duplicate sponsorship perk"
https://2017.djangocon.us/sponsors/information/ lists the perk "Logo featured in post conference videos" twice.

Let's remove the first copy of it (under the row Booth Space)

[2017-03-28 01:23] jefftriplett commented on #95
@daheats FYI, this is in the prospectus too.

[2017-03-28 02:55] jefftriplett opened #99 "Homepage news styles are off"
The styles of the "Latest News" boxes look off.

![screencapture-localhost-8000-1490659572870](https://cloud.githubusercontent.com/assets/50527/24386975/13cb5b00-1338-11e7-8c1a-a3da7084355d.png)

[2017-03-28 04:08] KatherineMichel commented on #77
This was fixed with PR #100

[2017-03-28 04:08] #77 closed

[2017-03-28 12:40] mtrythall commented on #77
Social icons are added via a sprite map that gets added to the page. *Everything* should probably use this, but it's currently only setup for those icons.

This is the file: https://github.com/djangocon/2017.djangocon.us/blob/develop/_includes/social-icons.html

No, we aren't using fontawesome or anything (not a best practice anymore). We're using SVG. You can find a lot of icons from thenounproje

[2017-03-28 12:41] mtrythall commented on #80
Remember, the site is built on Foundation:

http://foundation.zurb.com/sites/docs/button.html

[2017-03-28 12:55] mtrythall commented on #99
Fix for this was pushed to develop. Please verify.

![homepage](https://cloud.githubusercontent.com/assets/84750/24405820/3705978c-1394-11e7-998c-76bff1736929.png)

[2017-03-28 17:55] KatherineMichel commented on #80
I will take a look at the docs when I get the chance. @williln @mtrythall

[2017-03-28 20:12] #9 closed

[2017-03-29 19:35] williln commented on #78
Looks like it's being addressed in #97

[2017-03-29 19:36] #21 closed

[2017-03-29 19:38] #5 closed

[2017-03-29 19:38] #8 closed

[2017-03-29 19:44] williln opened #103 "Venue: Add hotel-specific accessibility info"
- [ ] Service animals welcome, there is a park right behind the hotel for walking them.
- [ ] Step-free access throughout the venue
- [ ] Bathrooms include an ADA stall with grab bars, but not lowered sinks

[2017-03-30 00:05] #95 closed

[2017-03-30 02:02] jefftriplett commented on #69
Thank you, I think this is covered now.

[2017-03-30 02:02] #69 closed

[2017-03-30 02:03] jefftriplett commented on #18
@KatherineMichel is this complete? I ran the script and it seemed to refresh everything. If so, let's close it.

[2017-03-31 16:01] jessiofhall commented on #68
@mtrythall -- when you have time will you add notes here?

[2017-03-31 16:01] #6 closed

[2017-03-31 16:02] #14 closed

[2017-03-31 16:02] #10 closed

[2017-03-31 16:03] #7 closed

[2017-03-31 16:53] jefftriplett commented on #35
I think the styles for this are fine. We pulled them into the https://2017.djangocon.us/financial-aid/#frequently-asked-questions page and I don't know if we are for certainly going to have a dedicated page but these are nice to have in case.

@jessiofhall I'm marking these as approved btw.

[2017-03-31 16:57] jefftriplett opened #106 "Header hides the anchors when we link to sections"
When we link to a section, the header hides our content enough that we can't see what we are linking to.

Take this FAQ example (this is one that came up mid-week): https://2017.djangocon.us/financial-aid/#frequently-asked-questions

![](https://www.evernote.com/shard/s27/sh/9faa9f39-c711-418d-ae87-3dd6f4bcb5e5/8e2b1d16d8a7b59d/res/41f16407-4fcb-4a5f-bef8-8c74e04fa9a5/skitch.png)

[2017-03-31 17:03] jefftriplett opened #107 "Menu links"
We have had a few usability complaints about our top menu not being obvious that the top most levels are meant to be clicked. I see the triangle and I sort-of see the complaint. I think an easy fix is to repeat the top link as a first level link and update the copy.

Example:
Sponsors: [Become a Sponsor] => Sponsors: [Our Sponsors, Become a Sponsor]

Since y'all did the usability work, does this s

[2017-03-31 17:13] kkellydesign commented on #107
It's a valid complaint – I noticed that as well a couple days ago. It's especially a problem on mobile where there's no way to get to the top-level pages if they have a subpage. I think your solution is probably best – just repeat the links as the first item in the subnav list. Do you agree @mtrythall?

[2017-03-31 17:13] mtrythall commented on #106
Easy fix. I'll hit this one this weekend.

On Fri, Mar 31, 2017, 12:59 PM Jeff Triplett <notifications@github.com>
wrote:

[2017-03-31 18:07] mtrythall commented on #107
Age old problem.

I think the additional links might be needed for mobile given the part of Foundation we're using. I'm not thrilled about adding the links on desktop just because this is a pattern that's over a decade old and easily learned. We even provide different types of links in the nav so that the behavior is easily discovered.

If we do add new links to desktop, I'd want those link titles

[2017-03-31 18:09] kkellydesign commented on #107
So for mobile-only duplicate links, you'd just add this to the subnav:

`<li class="hide-for-medium">etc..</li>`

[2017-03-31 21:07] jefftriplett commented on #107
Thanks for the advice. To address the immediate issue, I cloned the top links and matched their menu item text with the page's heading. If it bothers anyone we can try the `hide-for-medium` suggestion to selectively show them. I agree that people should know by now, but if we have to train people to use the menus then we might be fighting more of an uphill battle than we want. Thanks again.

[2017-03-31 21:07] #107 closed

[2017-04-01 02:17] KatherineMichel commented on #75
I really like the Need help? callout out. I'm re-opening this because there is too much space at the bottom of the page. I am looking at the layout patterns to see how to fix.

[2017-04-01 02:54] KatherineMichel commented on #80
Might also be useful to have a bit of a layout explainer to give guidance for which template(s) (base, default, .md, etc.) to use based on which layout someone wants to put together ...? Could help to standardize the code from page to page.

[2017-04-01 03:09] mtrythall commented on #106
PR for this here: https://github.com/djangocon/2017.djangocon.us/pull/110

No bulletproof solution since we can't use JS (murky browser support for `:target`), but this ought to work in most cases.

[2017-04-01 03:21] mtrythall commented on #80
I can't speak to what should be .md and what shouldn't. That depends on how you folks want to set it up. I tend to avoid Markdown and think it's only useful when you have very, very simple content.

default.html inherits from base.html (like everything else), except that default.html provides wrappers for content and a header. Typically you'd use default.html for sub pages or anything fairly basic

[2017-04-01 03:26] mtrythall commented on #75
Problem with padding seems to be nested page wrappers.

<img width="376" alt="screenshot 2017-03-31 23 24 52" src="https://cloud.githubusercontent.com/assets/84750/24574995/530ee654-1669-11e7-9620-d57e21cd54be.png">

You only need one `content subpage-content` container

[2017-04-01 03:38] KatherineMichel commented on #80
Ok, thank you. Even if not much to stay, I think still good to document. Might be info that is helpful to  people who are newcomers to the project.

[2017-04-01 03:47] KatherineMichel commented on #75
You're right. I think the problem is it's using two different layouts.

[2017-04-02 19:29] #106 closed

[2017-04-03 00:45] KatherineMichel commented on #18
I just ran it and it seems to be working right. I will close issue.

[2017-04-03 00:45] #18 closed

[2017-04-03 20:13] #35 closed

[2017-04-04 15:50] jefftriplett commented on #99
Thank you this is indeed fixed now.

[2017-04-04 15:50] #99 closed

[2017-04-04 17:31] williln commented on #75
I merged @KatherineMichel PR this morning. Kati, can you confirm this is ok to close?

[2017-04-04 17:50] KatherineMichel commented on #75
I think so.

[2017-04-04 17:50] #75 closed

[2017-04-04 19:15] jefftriplett commented on #93
I believe we covered most of these:

- [x] The navs are DRY via an `includes/nav.html`. We could make pull them into a data file, but that might not be worth the effort if we only have a top nav.
- [x] Talks + Tutorials (`_posts/talks/*` and `_posts/tutorials/*`)
- [ ] We will need to finish the sprints page though but that can be a page.
- [ ] We need to fill out the lightning talk page.
- [x] At

[2017-04-04 22:26] williln commented on #76
Thanks for your work everyone! I went ahead and added the final button since we're in the last week of the app being open, and I'm closing this issue.

[2017-04-04 22:26] #76 closed

[2017-04-04 22:26] #33 closed

[2017-04-07 18:42] jefftriplett commented on #17
cc @deatonjm @kennethlove and @toastdriven - Feel free to ping me if you have questions. The format looks like: https://raw.githubusercontent.com/djangocon/2017.djangocon.us/master/_posts/talks/2016-07-18-09-00-keynote-1.md

and for tutorials: https://github.com/djangocon/2017.djangocon.us/blob/master/_posts/tutorials/2013-07-17-09-00-tutorial-1.md

[2017-04-11 13:45] jefftriplett opened #121 "Close CFP + Financial Aid references"
We need to update the website to reflect that our CFP and Financial Aid deadlines have passed and our applications have closed.

We may want to use `{% comment %}` and `{% endcomment %}` blocks around some of the old copy to make updating for 2018 easier.

[2017-04-11 16:18] jefftriplett opened #122 "Finish building out Why DjangoCon US? page"
Our goal with the *Why DjangoCon US* page is to help employees justify why attending our conference is worthwhile to their employers. This can be (and many, many others):

- Training (tutorials and talks) and learn from the developers who create the software. Post-CFP: we should highlight tutorials which have corporate value.

- Talent if you are looking to hire there will be dozens of diverse peo

[2017-04-11 20:42] KatherineMichel commented on #121
I went ahead and made a branch for this so that we can close down the links.

[2017-04-13 04:06] KatherineMichel commented on #121
I think we can close this due to #123

[2017-04-13 04:06] #121 closed

[2017-04-13 04:20] jefftriplett commented on #78
Re-opening since #97 was part of getting the website ready to launch.

[2017-04-16 20:55] FlipperPA commented on #17
I'm making decent progress on this here: https://github.com/djangocon/papercall-api-import

@jefftriplett - did you want to keep the same format as last year for metadata, or should we use what PaperCall gives us? For example, last year did not have tags, this year does.

The fields PaperCall provides by the API are: confirmed, created_at, id, rating, state, tag_list, trust, updated_at, and for th

[2017-04-16 21:21] KatherineMichel commented on #103
This was addressed by #125

[2017-04-16 21:21] #103 closed

[2017-04-16 21:31] deatonjm commented on #17
Hey Tim,

The API doesn't output the communication between raters and submitters? Maybe it will be after we reveal speakers like you said. I hope so because there is some super important info happening in that box... lol

Thanks for your work on this!!! I only have 150 more talks to rate lololol

Best,
deatz

[2017-04-16 21:37] williln commented on #78
@brentschneider Are you still working on this? Do you need help?

[2017-04-17 02:04] brentschneider commented on #78
Yes, I have a list of locations.
todo: need photos and perhaps categorize by type

[2017-04-17 15:16] FlipperPA commented on #17
Howdy @deatonjm, they should be available eventually, but aren't currently provided because we're still in double-blind review mode.

[2017-04-17 18:49] williln commented on #78
@brentschneider If you need help or other volunteers, reach out or email hello@!

[2017-04-21 16:37] brentschneider commented on #78
[committed changes to my repo](https://github.com/brentschneider/2017.djangocon.us/commit/69ff1212cfd82b1c521b4d778e682893030439f4). @williln or @jefftriplett I have some questions regarding the branches before I submit a pull request.

[2017-04-21 16:51] KatherineMichel commented on #78
The style looks a bit wonky. Obviously need photos for favorite spots. I wonder if could be limited by four or six and randomized?

[2017-04-25 00:27] williln commented on #122
@jefftriplett Is there a specific format or approach you think would be best here?

[2017-04-25 18:15] williln commented on #78
@brentschneider Thanks for your work on this! What we have now looks really good.

I agree with @KatherineMichel that the number of attractions is a little long. Can we limit it to 4 or 6 (or randomize it so we show different ones each time) and also add photos?

[2017-04-25 22:09] KatherineMichel commented on #78
It's easy to limit the number of places by adding limit:4 or limit:6. I thought the places could be shuffled by adding a custom Jekyll shuffle filter, but not sure if that will work. For one thing, sometimes with Jekyll random methods there is an issue with the randomness being generated at build-time instead of when page is refreshed.

[2017-04-25 22:24] jefftriplett commented on #78
We might try adding category headings to break the long lists up. I think this would help to quickly see places to eat, get coffee, get a drink, do tourist things, etc.

[2017-05-16 20:08] jefftriplett opened #141 "We need a ticket page"
Historically, we get asked a lot of questions about which tickets to buy. While I like having a *Buy Tickets* page, this doesn't quite fill in the information gap from people who want to know more about which they may purchase. We should considering bringing back some of the information from the 2016 page: https://2016.djangocon.us/tickets/

[2017-05-16 22:26] rebkin05 commented on #141
Some of that info (what ticket to pick and refund policy) is in this post and can maybe be cribbed from there: https://2017.djangocon.us/news/tickets-on-sale/

Also, I can link to the blog post more on Twitter instead of going straight to ti.to

[2017-05-17 15:33] jefftriplett commented on #141
@rebkin05 good ideas!

[2017-05-23 20:00] SaraDGore opened #151 "Change top right "Early Bird Pricing Available""
Because it's no longer available!

[2017-05-25 19:52] KatherineMichel commented on #151
I will submit a pull request to fix this.

[2017-05-25 20:16] KatherineMichel commented on #151
Looks like this can be closed now due to #155. Thank you for pointing this out @SaraDGore!

[2017-05-25 20:16] #151 closed

[2017-05-25 20:17] jefftriplett opened #156 "Replace CFP on home with something else"
We have the CFP copy on the homepage: https://www.evernote.com/shard/s27/sh/3cc7e40b-e413-4807-a8a3-35dfa40d38a7/303a814a6f583203

We might want to change this to a schedule or something else.

[2017-05-29 17:39] williln commented on #141
Since #146 was merged, I think this can be closed, yeah? cc @KatherineMichel

[2017-05-29 17:41] williln commented on #78
#147 limited the list of attractions to 8 by commenting some out in the yaml, and added photos, but didn't add category headings. IDK if we still want to mess with this section, or just close this issue?

[2017-05-29 18:05] KatherineMichel commented on #141
Looks good!

[2017-05-29 18:05] #141 closed

[2017-06-13 14:24] jefftriplett commented on #122
@williln lets do a quick Slack chat on this some time. I think we want to do do a DSF blog post and highlight this along with tickets are on sale.

[2017-06-19 17:00] williln opened #173 "Schedule: Some speakers have email instead of name"
![charlotte](https://user-images.githubusercontent.com/2286304/27296621-769f3cda-54d6-11e7-9b25-3c788ab28f6a.PNG)
![kati](https://user-images.githubusercontent.com/2286304/27296622-76a42d08-54d6-11e7-867e-373fe91d81b4.PNG)
@KatherineMichel and Charlotte have email addresses instead of names and probably don't want their emails public.

Listing this as a blocker as it's a privacy issue.

[2017-06-19 17:18] #173 closed

[2017-06-19 17:19] jefftriplett commented on #173
Fixed. Nice catch. cc @FlipperPA in case he wants to fix it in the export script for future confs.

[2017-06-19 17:20] williln commented on #173
TY @jefftriplett!

[2017-06-19 23:07] williln opened #174 "Schedule: Orientation/Shyness talk"
The orientation event and the "Shy Person's Guide to Tech Conferences" are in the same session, and I thought they would be in the ballroom where the keynote presentation will be. I'm not sure the best way to reflect this on the schedule, and I am not sure if Kojo is going to have Ed go first or second, but is it possible to edit the YAML so that they appear as one event on the schedule and Ed and

[2017-06-19 23:19] williln commented on #156
Closed by #158

[2017-06-19 23:19] #156 closed

[2017-06-20 18:29] williln opened #176 "Schedule: Tutorials locations are offset"
<img width="838" alt="screen shot 2017-06-20 at 11 25 13 am" src="https://user-images.githubusercontent.com/2286304/27349305-a072c66e-55ab-11e7-962c-1e3593f8356e.png">

Manito room is the last tutorial at 9:00 but the first at 1:30. Make the locations consistent.

[2017-06-20 19:06] #176 closed

[2017-06-21 16:19] jefftriplett commented on #174
This is semi-fixed, but I didn't mark it off yet because I haven't had time to fix the box style and add profile photos. Any other changes wanted? https://2017.djangocon.us/talks/

[2017-06-21 16:21] jefftriplett commented on #174
Currently looks like: ![](https://www.evernote.com/shard/s27/sh/3437b276-2a3d-4c27-9883-b74914154725/58e55f12de5aceb5/res/3aa51a21-f644-4654-a62d-dcc1a7db03e2/skitch.png)

[2017-06-21 16:22] jefftriplett commented on #93
I think this is mostly done. Cc'ing @kojoidrissa in case he has ideas for the lightning talk portion of the website.

I have a basic sprint page working now too. We also need a sprint chair to help with this (for the text copy).

[2017-06-21 17:21] williln commented on #174
I think what we have in "currently looks like" is pretty good! I'd love it if we were able to link to a detail page for orientation that gave info on what orientation was, the abstract for "shy person's guide," and Kojo and Ed's bios. I also think it's fine, since this is a separate event from the conference talks themselves, to have this styled NOT like the other talks (so w/o photo and name on t

[2017-06-27 15:58] jefftriplett opened #188 "Add a page for generating sponsor footer info"
Last year, we had a hidden page which looped through sponsor info (https://2016.djangocon.us/sponsors/raw/) to make updating Mailchimp super easy. It'd be nice to add this functionality back.

Please note: this page should be hidden from our sitemap.

[2017-06-27 18:33] jefftriplett opened #190 "Guidebook integration"
To make life easier for next year, we'd like to generate some Guidebook friendly pages to dump:

- [x] Sponsors
- [x] Locations (our rooms)
- [x] Speakers
- [x] Schedules: Talks, tutorials, breaks, oh mai!

[2017-06-27 18:37] jefftriplett commented on #190
Alternatively: https://support.guidebook.com/hc/en-us/articles/204880574-Pro-Tip-Export-Data-to-Edit-Content-Make-Links-and-Analyze-Survey-Responses

[2017-06-27 18:49] FlipperPA commented on #190
This would allow us to import the schedule via a Spreadsheet or CSV: https://support.guidebook.com/hc/en-us/articles/115007936587-Add-Schedule-Sessions-Template-Import

We have most of the information in spreadsheet so it might be just a question of column matching. This one might be a good start: https://docs.google.com/spreadsheets/d/1RiJNS19K4Jg2u63pYpcAtXQ_KhSr6N_606zS3s8cI3Y/edit?usp=sharing

[2017-06-30 18:15] jefftriplett commented on #174
The talk does link but it's not super obvious. If you hover between the ""'s then you can see the link. Still a work in progress. I'd like to get the Kojo and Ed's names linked up with the proper styles.

[2017-06-30 21:33] chris-erickson commented on #15
Any limitations here?  Is gulp the preferred route to take?  Statically built or at runtime with something like compressor?

[2017-06-30 23:58] mtrythall commented on #15
Part of the catch here is wanting as much of the process to run through Jekyll. I suspect Jekyll plugins can do most of what's here, and there are few JS dependencies (could be tracked in the README). I'd look at a Jekyll/Ruby-first approach so compilation and deployment to Github isn't hindered, as much as you can.

In general I would avoid Gulp. If you have to go with a JS-based build tool, basi

[2017-07-03 20:37] jefftriplett opened #199 "Wrong date in August on talks page"
Via Paul Everiit:

[2017-07-03 20:38] #199 closed

[2017-07-12 16:00] #17 closed

[2017-07-12 16:00] #80 closed

[2017-07-12 16:00] williln commented on #122
@jefftriplett OK to close?

[2017-07-12 16:01] williln opened #206 "Add Quiet Room and Speaker Green Room to Speaker Resources page"

[2017-07-12 16:01] williln opened #207 "Add Quiet Room to Accessibility section on Venue page"

[2017-07-12 16:02] williln opened #208 "On 7/21, remove child care link from Accessibility section on Venue page."
Replace with note that we will not offer childcare due to lack of expressed need.

Ping me before merging to make sure we don't have any last-minute childcare requests

[2017-07-12 16:02] williln opened #209 "Add emergency numbers to Code of Conduct page"

[2017-07-12 16:03] williln opened #210 "Add the volunteer spreadsheet"

[2017-07-12 20:12] Nandutu commented on #209
worked on this

[2017-07-14 20:06] #93 closed

[2017-07-14 20:07] #209 closed

[2017-07-14 20:08] jefftriplett commented on #78
This seems baked. Any future updates can easily be feature tickets. Thanks for the help y'all!

[2017-07-14 20:08] #78 closed

[2017-07-14 20:09] #26 closed

[2017-07-14 20:13] #15 closed

[2017-07-14 20:13] #68 closed

[2017-07-14 20:13] #83 closed

[2017-07-14 20:13] #122 closed

[2017-07-14 20:16] #16 closed

[2017-07-14 20:17] jefftriplett commented on #53
I'm going to mark this as complete. Feel free to update with a feature request going forward.

[2017-07-14 20:17] #53 closed

[2017-07-21 15:37] kojoidrissa commented on #174
Speaking of profile photos, I need to setup a Gravatar account to make that happen for myself, don't I?

[2017-07-21 15:45] jefftriplett commented on #174
@kojoidrissa yes you do.... ;)

I'll work on this over lunch. I'd like to have profile photos on it which should be doable, because science.

[2017-07-28 19:57] #208 closed

[2017-08-01 01:51] #210 closed

[2017-08-01 01:52] #207 closed

[2017-08-01 15:50] #206 closed

[2017-08-01 18:44] jefftriplett commented on #190
I'm marketing this was as complete. We did a manual export of our data and Guidebook relies on some ids which make going from just CSV in and syncing back not very easy. Sadly, going to punt until next year.

[2017-08-01 18:44] #190 closed

[2017-08-01 18:48] jefftriplett opened #246 "Update CSS style of Latest News to make it easy to see different category types"
We have a few different categories of news on our home page, but they all kind of run together. We can update the CSS based on which `category` the post falls under.

Full list:
[code]

I'd be a fan of marking sponsors as one style and everything else as another. That way it's more obvious to attendees who want to find some quickly.

[2017-08-01 20:47] #246 closed

[2017-08-01 22:21] jefftriplett opened #250 "Update speaker photos to remove blue power buttons"
Please see https://2017.djangocon.us/schedule/ for references. These can be github, twitter, or gravatar images.

[2017-08-01 23:43] jefftriplett opened #252 "Missing COC on repo"
We just need a `CODE_OF_CONDUCT.md` file to make this warning go away: https://www.evernote.com/l/ABsU14hcJnpNfb_vN4RNnDfMH_XR9izcnvs

[2017-08-01 23:44] jefftriplett commented on #252
cc @williln @KatherineMichel

[2017-08-02 00:26] williln commented on #252
@jefftriplett Is the text from https://2017.djangocon.us/coc/ fine or do we need one more specific to an online space like GH?

[2017-08-02 00:42] jefftriplett commented on #252
Let's go with one of the defaults #253 unless someone has feels about one or the other.

[2017-08-02 00:46] #252 closed

[2017-08-02 18:23] jefftriplett commented on #174
I pushed a fix which puts photos by the talk. They don't share the same background style but I'm not sure if that's a problem or not.

[2017-08-02 18:23] #174 closed

[2017-08-02 18:23] jefftriplett commented on #188
This is more of a like to have vs. we have to have it. By now, it's baked.

[2017-08-02 18:23] #188 closed

[2017-08-04 17:54] williln commented on #250
@jefftriplett Julia Looney is https://github.com/jlooney and would like to use that photo. I can't add her now as I'm about to leave, but FYI!

[2017-08-04 18:03] jefftriplett commented on #250
@williln thank you, added in #265

[2017-08-08 02:42] amfitz opened #275 "Guidebook: Missing Data"
Wednesday 4:40pm session: "Understanding Javascript Libraries via React and the React Ecosystem" Is missing a speaker name.

[2017-08-08 13:05] jefftriplett opened #276 "Fix git clone example"
We list `$ https://github.com/your-username/2017.djangocon.us` in the README.md where I think we want `$ git clone ...`

[2017-08-08 22:29] craigbruce opened #279 "RSS feed for News?"
Guidebook can display an RSS feed. I don't think our [News](https://2017.djangocon.us/news/) section includes one now? I can disable this feature in Guidebook, unless it does have a hidden RSS URL I can use?

[2017-08-08 22:36] craigbruce commented on #275
Thanks for the feedback, that has been fixed!

[2017-08-08 22:36] #275 closed

[2017-08-08 23:40] craigbruce opened #281 "Add Guidebook embed widget"
This delightful snippet will produce this
![screen shot 2017-08-08 at 5 39 39 pm](https://user-images.githubusercontent.com/1503648/29099143-aa34763a-7c60-11e7-8caf-f48cb7448e4a.png)

Not sure where is the best place to put it?

`<iframe src='https://guidebook.com/sms-embed/?action=has%20gone%20mobile!&amp;guide_name=DjangoCon%20US%202017&amp;subheader=Send%20a%20download%20link%20to%20your%20phon

[2017-08-09 20:32] jefftriplett commented on #279
@craigbruce sure we do via: https://2017.djangocon.us/feed

[2017-08-09 20:33] jefftriplett opened #284 "Swap Deatz and Megan's talk with Tibbs's talk per Tibbs's request in Guidebook"
Please see #283 for details.

[2017-08-09 20:56] jefftriplett commented on #279
/me updated this in Guidebook and republished...

[2017-08-10 02:53] KatherineMichel commented on #276
Just now saw this. I will fix it.

[2017-08-10 03:24] #276 closed

[2017-08-10 17:24] #284 closed

[2017-08-14 17:48] craigbruce commented on #279
It didn't like the Jekyll RSS feed so I switched to a web view instead.

[2017-08-22 02:46] KatherineMichel opened #301 "Missing slide decks"
As far as I can tell, talks that we do not have slide decks for. If anyone has come across these decks, let us know or submit pull request.

_schedule/talks/2017-08-15-17-30-t1-files-in-django.md
_schedule/tutorials/2017-08-13-13-30-t2-build-and-launch-a-website-on-wagtail-in-three-hours.md
_schedule/talks/2017-08-15-17-00-t0-programming-post-progeny.md
_schedule/talks/2017-08-16-11-30-t1-graphql-

[2017-08-24 03:28] #279 closed

[2017-08-24 03:30] jefftriplett commented on #281
Bah, this slipped through the cracks. Worth having on our radar for 2018 though.

[2018-03-20 13:54] #250 closed